node_modules
.next
out
build
dist
coverage
.vercel
.env
.env.*
*.log
*.lock
*.yml
*.yaml
*.md
*.sql
*.db
*.sqlite
*.prisma
.DS_Store
package-lock.json
yarn.lock
pnpm-lock.yaml
public
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.svg